
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <app-header></app-header>
    <app-nav></app-nav>
    <main>
        <h2>Nuestros productos</h2>
        <div class="contenido-nosotros">

            <div class="imagen">
                <img src="assets/img/nosotros.jpg" alt="nosotros">
            </div>
            <div class="informacion-nosotros">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae at, doloremque libero officiis asperiores aliquam minima minus dolorum rerum, cumque eius accusamus commodi molestiae reprehenderit voluptas consequatur quasi repellendus qui?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae at, doloremque libero officiis asperiores aliquam minima minus dolorum rerum, cumque eius accusamus commodi molestiae reprehenderit voluptas consequatur quasi repellendus qui?</p>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>
</html>