<main class="contenido-principal contenedor-productos">
    <h2>Nuestros Productos</h2>

    <div class="listado-productos">
        <div class="producto">
            <img src="assets/img/producto1.jpg" alt="Imagen Producto">
            
            <div class="texto-producto">
                <h3>Producto 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum doloremque quaerat dolor obcaecati ut temporibus adipisci ipsum possimus aut nulla corrupti quos quasi similique, deleniti illum perspiciatis nemo quidem?</p>
                <p class="precio">$1,000,000.00</p>
                <a type="button">Agregar al carrito</a>
            </div> <!--Info de producto -->
        </div> <!-- producto -->
        <div class="producto">
            <img src="assets/img/producto2.jpg" alt="Imagen Producto">
            
            <div class="texto-producto">
                <h3>Producto 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum doloremque quaerat dolor obcaecati ut temporibus adipisci ipsum possimus aut nulla corrupti quos quasi similique, deleniti illum perspiciatis nemo quidem?</p>
                <p class="precio">$1,000,000.00</p>
                <a type="button">Agregar al carrito</a>
            </div> <!--Info de producto -->
        </div> <!-- producto -->
        <div class="producto">
            <img src="assets/img/producto3.jpg" alt="Imagen Producto">
            
            <div class="texto-producto">
                <h3>Producto 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum doloremque quaerat dolor obcaecati ut temporibus adipisci ipsum possimus aut nulla corrupti quos quasi similique, deleniti illum perspiciatis nemo quidem?</p>
                <p class="precio">$1,000,000.00</p>
                <a type="button">Agregar al carrito</a>
            </div> <!--Info de producto -->
        </div> <!-- producto -->
        <div class="producto">
            <img src="assets/img/producto4.jpg" alt="Imagen Producto">
            
            <div class="texto-producto">
                <h3>Producto 4</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum doloremque quaerat dolor obcaecati ut temporibus adipisci ipsum possimus aut nulla corrupti quos quasi similique, deleniti illum perspiciatis nemo quidem?</p>
                <p class="precio">$1,000,000.00</p>
                <a type="button">Agregar al carrito</a>
            </div> <!--Info de producto -->
        </div> <!-- producto -->
        <div class="producto">
            <img src="assets/img/producto5.jpg" alt="Imagen Producto">
            
            <div class="texto-producto">
                <h3>Producto 5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum doloremque quaerat dolor obcaecati ut temporibus adipisci ipsum possimus aut nulla corrupti quos quasi similique, deleniti illum perspiciatis nemo quidem?</p>
                <p class="precio">$1,000,000.00</p>
                <a type="button">Agregar al carrito</a>
            </div> <!--Info de producto -->
        </div> <!-- producto -->
        <div class="producto">
            <img src="assets/img/producto6.jpg" alt="Imagen Producto">
            
            <div class="texto-producto">
                <h3>Producto 6</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum doloremque quaerat dolor obcaecati ut temporibus adipisci ipsum possimus aut nulla corrupti quos quasi similique, deleniti illum perspiciatis nemo quidem?</p>
                <p class="precio">$1,000,000.00</p>
                <a type="button">Agregar al carrito</a>
            </div> <!--Info de producto -->
        </div> <!-- producto -->

    </div>  <!--Fin de listado de producto -->
   
  </main>
