<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>
    <app-header></app-header>
    <app-nav></app-nav>
    <main class="conteiner">
        <h2 class="text-center">Galeria</h2>

        <ul class="galeria">
            <li>
                <a href="assets/img/galeria_01.jpg">
                    <img src="assets/img/galeria_01.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_02.jpg">
                    <img src="assets/img/galeria_02.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_03.jpg">
                    <img src="assets/img/galeria_03.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_04.jpg">
                    <img src="assets/img/galeria_04.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_05.jpg">
                    <img src="assets/img/galeria_05.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_06.jpg">
                    <img src="assets/img/galeria_06.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_07.jpg">
                    <img src="assets/img/galeria_07.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_08.jpg">
                    <img src="assets/img/galeria_08.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="assets/img/galeria_09.jpg">
                    <img src="assets/img/galeria_09.jpg" alt="">
                </a>
            </li>
        </ul>
    </main>
    <app-footer></app-footer>
</body>
</html>
