<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <app-header></app-header>
    <app-nav></app-nav>
    <main class="contenido-principal">
        <h2 class="text-center">Nuestro Blog</h2>
        <section class="contenedor-blog">
            <div class="blog">
                <article class="entrada">
                    <h2>Guía de Colores</h2>
                    <div class="imagen">
                        <img src="assets/img/nosotros.jpg" alt="imagen">
                    </div>
                    <div class="entrada-meta">
                        <p>Fecha: <span>30 de agosto de 2023</span></p>
                        <p>Escrito por: <span>Tienda de muebles</span></p>
                    </div>

                    <div class="entrada-blog">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias recusandae, possimus numquam qui iure voluptas deserunt quam sequi vel ab quas eveniet quisquam similique dignissimos veniam ea rem eius corrupti.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias recusandae, possimus numquam qui iure voluptas deserunt quam sequi vel ab quas eveniet quisquam similique dignissimos veniam ea rem eius corrupti.</p>
                    </div>
                    <a class="btn" routerLink="/entrada">Leer más</a>
                </article>
                <article class="entrada">
                    <h2>Guía de Colores</h2>
                    <div class="imagen">
                        <img src="assets/img/nosotros.jpg" alt="imagen">
                    </div>
                    <div class="entrada-meta">
                        <p>Fecha: <span>30 de agosto de 2023</span></p>
                        <p>Escrito por: <span>Tienda de muebles</span></p>
                    </div>

                    <div class="entrada-blog">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias recusandae, possimus numquam qui iure voluptas deserunt quam sequi vel ab quas eveniet quisquam similique dignissimos veniam ea rem eius corrupti.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias recusandae, possimus numquam qui iure voluptas deserunt quam sequi vel ab quas eveniet quisquam similique dignissimos veniam ea rem eius corrupti.</p>
                    </div>
                    <a class="btn" href="#">Leer más</a>
                </article>
            </div>
            <aside>
                <h3>Otras entradas de blog</h3>
                <ul>
                    <li>Hola</li>
                    <li>Hola</li>
                    <li>Hola</li>
                    <li>Hola</li>
                </ul>
            </aside>
        </section>
    </main>
    <app-footer></app-footer>
    
</body>
</html>
