html {
    box-sizing: border-box; /*Para no modificar el tamaño de un elemento*/
    font-size: 62.5%; /* 1REM = 10px*/
}
/*Es parte del box sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    line-height: 2;
    margin-left: 80px;
    margin-right: 80px;
}

img{
    max-width: 100%;
    /* display: block; */
}

p {
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.formulario legend {
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;

}

.campo label {
    flex-basis: 8rem;
}

.campo .input {
    flex: 1;
}

.btn  {
    background-color: #8cbc00;
    display: block; /*Toma todo el ancho que hay */
    font-weight:700;
    text-transform: uppercase;
    padding: 0.5rem;
    transition: background-color .3s ease-out;
    text-decoration: none;
    color: #fff;
    text-align: center;
    max-width: 20rem;
    border: none;
}

.btn:hover {
    background-color: #769c02;
    display: block; /*Toma todo el ancho que hay */
    font-weight:900;
    padding: .5rem;
    cursor: pointer;
}