<footer class="site-footer">
    <div class="contenedor-footer">

        <div class="footer-categorias">
            <h3>Categorías</h3>
            <nav class="navegacion">
                <a href="#">Cocina</a>
                <a href="#">Oficina</a>
                <a href="#">Jardin</a>
                <a href="#">Cochera</a>
                <a href="#">Dormitorios</a>
            </nav>
        </div>
        <div class="footer-categorias">
            <h3>Sobre nosotros</h3>
            <nav class="navegacion">
                <a href="#">Nuestra Historia</a>
                <a href="#">Mision, Vision y Valores</a>
                <a href="#">Carreras</a>
                <a href="#">Políticas de privacidad</a>
                <a href="#">Términos del servicio</a>
            </nav>
        </div>
        <div class="footer-categorias">
            <h3>Soporte</h3>
            <nav class="navegacion">
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Ayuda en linea</a>
                <a href="#">Confianza y seguridad</a>
                
            </nav>
        </div>
    </div>
    <p>Todos los derechos Reservados, Tienda de muebles ©</p>
</footer>


